@charset "utf-8";


/* 태블릿 600px~1024px */
@media screen and (max-width:1204px) {
	#wrap {
		width: 62% ;
		margin:80px auto 0; }

section:first-child{margin-bottom: 22px; width: 100%; height: 315px; background: #eee;cursor: pointer; }
section:nth-child(2){ width: 100%; /*=1238px*/ }
section:nth-child(2) #fir{text-decoration: underline; float: left; width: 45.71%;/*566px*/ height: 722px;border-right: 1px solid #eee; padding:2.61%; /*20px*/}
section:nth-child(2) #sec{text-decoration: underline; float: left;width: 45.71%; height: 382px; padding-left: 2.61%;}

#fir img:nth-of-type(1){width: 78.76%/*559px*/; height: 45px; padding-top: 10px;  }
#i4{display: none;}
#i5{display: none; }

}
