@charset "utf-8";
/*font-family: 'Roboto', sans-serif;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Allura', cursive;
font-family: 'Alex Brush', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Cormorant Unicase', serif;

*/
/*@font-face {
  font-family: 'Roboto-Medium';
  src: url('Roboto-Medium.eot');
  src: url('Roboto-Medium.woff') format('woff'),
       url('Roboto-Medium.ttf') format('truetype'),
       url('Roboto-Medium.svg#Roboto-Medium') format('svg'),
       url('Roboto-Medium.eot?#iefix') format('embedded-opentype');

  font-family: 'Roboto-Regular';
  src: url('Roboto-Regular.eot');
  src: url('Roboto-Regular.woff') format('woff'),
       url('Roboto-Regular.ttf') format('truetype'),
       url('Roboto-Regular.svg#Roboto-Regular') format('svg'),
       url('Roboto-Regular.eot?#iefix') format('embedded-opentype');

  font-family: 'Roboto-Thin';
  src: url('Roboto-Thin.eot');
  src: url('Roboto-Thin.woff') format('woff'),
       url('Roboto-Thin.ttf') format('truetype'),
       url('Roboto-Thin.svg#Roboto-Thin') format('svg'),
       url('Roboto-Thin.eot?#iefix') format('embedded-opentype');

  font-family: 'Roboto-Black';
  src: url('Roboto-Black.eot');
  src: url('Roboto-Black.woff') format('woff'),
       url('Roboto-Black.ttf') format('truetype'),
       url('Roboto-Black.svg#Roboto-Black') format('svg'),
       url('Roboto-Black.eot?#iefix') format('embedded-opentype');

  font-family: 'Roboto-Bold';
  src: url('Roboto-Bold.eot');
  src: url('Roboto-Bold.woff') format('woff'),
       url('Roboto-Bold.ttf') format('truetype'),
       url('Roboto-Bold.svg#Roboto-Bold') format('svg'),
       url('Roboto-Bold.eot?#iefix') format('embedded-opentype');

  font-family: 'Roboto-Light';
  src: url('Roboto-Light.eot');
  src: url('Roboto-Light.woff') format('woff'),
       url('Roboto-Light.ttf') format('truetype'),
       url('Roboto-Light.svg#Roboto-Light') format('svg'),
       url('Roboto-Light.eot?#iefix') format('embedded-opentype');

  font-family: 'ALLURA-REGULAR.TTF';
  src: url('ALLURA-REGULAR.TTF.eot');
  src: url('ALLURA-REGULAR.TTF.eot?#iefix') format('embedded-opentype');

  font-family: 'Allura-Regular';
  src: url('Allura-Regular.woff') format('woff'),
       url('Allura-Regular.ttf') format('truetype'),
       url('Allura-Regular.svg#Allura-Regular') format('svg');

  font-family: 'ALEXBRUSH-REGULAR.TTF';
  src: url('ALEXBRUSH-REGULAR.TTF.eot');
  src: url('ALEXBRUSH-REGULAR.TTF.eot?#iefix') format('embedded-opentype');

  font-family: 'AlexBrush-Regular';
  src: url('AlexBrush-Regular.woff') format('woff'),
       url('AlexBrush-Regular.ttf') format('truetype'),
       url('AlexBrush-Regular.svg#AlexBrush-Regular') format('svg');

  font-family: 'Poppins-Regular';
  src: url('Poppins-Regular.eot');
  src: url('Poppins-Regular.woff') format('woff'),
       url('Poppins-Regular.ttf') format('truetype'),
       url('Poppins-Regular.svg#Poppins-Regular') format('svg'),
       url('Poppins-Regular.eot?#iefix') format('embedded-opentype');

  font-family: 'Poppins-Light';
  src: url('Poppins-Light.eot');
  src: url('Poppins-Light.woff') format('woff'),
       url('Poppins-Light.ttf') format('truetype'),
       url('Poppins-Light.svg#Poppins-Light') format('svg'),
       url('Poppins-Light.eot?#iefix') format('embedded-opentype');

  font-family: 'Poppins-Medium';
  src: url('Poppins-Medium.eot');
  src: url('Poppins-Medium.woff') format('woff'),
       url('Poppins-Medium.ttf') format('truetype'),
       url('Poppins-Medium.svg#Poppins-Medium') format('svg'),
       url('Poppins-Medium.eot?#iefix') format('embedded-opentype');

  font-family: 'Oswald-Regular';
  src: url('Oswald-Regular.eot');
  src: url('Oswald-Regular.woff') format('woff'),
       url('Oswald-Regular.ttf') format('truetype'),
       url('Oswald-Regular.svg#Oswald-Regular') format('svg'),
       url('Oswald-Regular.eot?#iefix') format('embedded-opentype');

  font-family: 'Oswald-Light';
  src: url('Oswald-Light.eot');
  src: url('Oswald-Light.woff') format('woff'),
       url('Oswald-Light.ttf') format('truetype'),
       url('Oswald-Light.svg#Oswald-Light') format('svg'),
       url('Oswald-Light.eot?#iefix') format('embedded-opentype');

  font-family: 'Oswald-Medium';
  src: url('Oswald-Medium.eot');
  src: url('Oswald-Medium.woff') format('woff'),
       url('Oswald-Medium.ttf') format('truetype'),
       url('Oswald-Medium.svg#Oswald-Medium') format('svg'),
       url('Oswald-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}*/

@import url('https://fonts.googleapis.com/css?family=Alex+Brush|Allura|Cormorant+Unicase:400,500|Nanum+Gothic:400,700|Oswald:300,400,500|Poppins:300,400,500|Roboto:300,400,500,700,900');
body{font-family: 'Roboto', sans-serif; font-size: 15px; text-align: center; 
font-weight: 400;}




