@charset "utf-8";

img{vertical-align: top; width: 100%;}

/*ul높이값 생성*/
.clear{*zoom:1;}
.clear:after{
	content: '';
	display: block;
	clear: both;
}

/*썸네일*/
.thumbnail ul li{
	float: left;
	margin-right: 10px;
}
.thumbnail ul li a{
 display: block;
}
body .lib_bg{display: none;}
.lib_bg{
	width: 100%; height: 100%; display: none;
	background-color:rgba(000,000,000,.7); position: fixed; top:0; left: 0; 
}
.lib{width: 45%; position: relative; top:50%; left: 50%; overflow: hidden; }
.lib ul{position: absolute; top:0; left: 0;}
.lib ul li{float: left;}