@charset "utf-8";

/**콘텐츠**/
aside{width: 200px;  font-size: 12px; text-align: left;  float: left;}
aside p{font-size: 11px; padding-left: 2px;}
h1{font-size: 11px;padding-bottom: 5px;}
.men li{color: #999; cursor: pointer; font-weight: 300; margin-bottom: 10px; font-size: 11px;}
.men li span{color: #000; cursor: default;}
.newa{height: 30px; border-top: 1px solid #999; }
.newa li{font-size: 11px; float: left;}
.newa li img{font-weight: 300; width: 32px; height: 26px;}
.newa li.last{ width:100px ; height:30px; padding-left: 10px; line-height: 30px; }
.xoo{height: 30px; border-top: 1px solid #999; }
.xoo li{font-size: 11px; float: left;}
.xoo li img{font-weight: 300; width: 32px; height: 26px;}
.xoo li.last{width:130px ; height:30px; padding-left: 10px; line-height: 30px; }
#st{ height: 90px; border-top: 1px solid #999; padding-top:10px;}
#dsn{ height: 149px;  overflow: auto; border-top: 1px solid #999; padding-top: 10px; margin-bottom: 9px; }
#dsn::-webkit-scrollbar{width:6px;}
#dsn::-webkit-scrollbar-thumb{background: #000; border-radius: 5px;}
#dsn::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment{width: 6px; height: 16px; border-radius: 5px; }
#siz{height: 140px; overflow: auto; padding-top: 10px;  border-top: 1px solid #999; margin-bottom: 15px; }
h5{font-weight: bold;}
#siz::-webkit-scrollbar{width:6px;}
#siz::-webkit-scrollbar-thumb{background: #000; border-radius: 5px;}
#siz::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment{
	width: 6px; height: 16px; border-radius: 5px;  }
.sl{ height: 140px;}
#cr{ height: 140px; border-top: 1px solid #999; padding-top: 10px;}
#my{float: left; text-align: left;}
.acne{float:left; clear: both;}
#sch{outline: none; width:175px; height: 20px; margin-left: 5px; background: url(images/search.png) no-repeat 155px 5px; }
article{width: 960px;  margin-top: 0;  float: left; margin-left: 65px;
 }
article section{width: 231px; height: 470px; border:1px solid transparent;
 margin-top: 35px; }
.box{font-size: 12px; font-weight: 300; float: left;  margin-left: 5px;}
.box p{}
.box h5{font-weight: 400; font-size: 13px; padding-bottom: 5px;}
.box span{color: #999; font-size: 11px; }
.box1{ clear: both; }

.box5{  clear: both;}

.box8{   margin-left:0; }

.box9{  clear: both;  margin-left: 0; }
.box10{ margin-left: 0; }
.box11{    margin-left:0; }
.box12{   margin-left:0; }

.box13{  clear: both;  margin-left: 0; }
.box14{ margin-left: 0; }
.box15{    margin-left:0; }
.box16{   margin-left:0; }

article section:hover{width: 231px; height: 470px; border: 1px solid #eee;
 cursor: pointer; }
article section:hover p{text-decoration: underline;  }
.txt1{width: 231px; height: 100px; margin-left: 10px; }

.fir{ width: 200px;  font-size: 14px; letter-spacing: 1px; float: left; }
.fir h3{padding-bottom: 8px;}

select{font-size: 11px; font-weight: 500; outline: none;height: 30px; width: 200px; letter-spacing: 1px;}
.sec{float: right; font-size: 12px;}

/*푸터*/
section.foot { 	width: 100%; height: 55px;background: #000; overflow: hidden;}
section.foot div{ width: 1238px; height: 55px; margin:0 auto; }
.f1 img{float: left; width: 31px; height: 31px; padding-top: 12px; padding-left: 30px; }
#fb{padding-left: 0;}
#yt{width: 41px; height: 31px;}
#mail{width:31px; height: 15px; }
.f2 img{width: 14px; height: 9px; float: right; padding-top: 23px; }
.f2{float: right; color: #fff; font-size: 13px; }
.f2 li{cursor: pointer; float: left; padding-left: 10px; line-height: 55px; font-size: 11px; letter-spacing: 1px;}
footer{width:1238px; height: 300px;  font-size: 12px; font-weight: bold;
 margin: 35px auto 0; text-align: left;}
footer h6{margin-top: 60px; font-weight: 400; clear: both; }
th{padding-bottom: 9px;}
td{font-weight: 300; font-size: 10px; padding-top: 8px; padding-right: 100px; cursor: pointer;}
td:hover{color:#777; }
.pod{position: absolute; bottom:200px; right: 140px; cursor: pointer;}
footer p{position: absolute; bottom: 167px; right: 157px; }
#bottom{position: relative; bottom: 0; left: 0; right: 0; width: 1238px; margin:auto;}
a{display: block; color: #000; }
