@charset "utf-8";

body {text-align: left; font-size: 20px; font-size: 18px; font-weight:500 ; line-height: 1.5;}

.wrapper{width: 100%; z-index: 9;  }
/*헤더*/
header{position: fixed; top: 0; left: 0; right: 0; margin: auto; width: 100%;
 height: 130px; background: #000; }
#header{ width: 100%; position: fixed;  left: 0; right: 0;
 height: 130px; overflow: hidden; background: #000; color:#fff; }
 .head{width: 1238px; position:absolute; top: 0; left: 0; right: 0; height: 100px;
 	margin:auto; z-index: 999; padding-top: 10px;}
#acc{float: right; color:#fff; }

 #acc li{float: left; font-size: 12px; font-weight: 400; }
 #acc li.sear{width: 24px; height: 20px; margin-right: 10px;}
 #acc li.mya{width: 90px; height: 20px;}
 #acc li.hea{width: 18px; height: 18px; margin-left: -15px;}
 #acc a{display: block; margin-right: 10px; font-size: 12px; color:#fff;}
 .mya a{width: 80px; height: 20px;}
 .sear a{width: 24px; height: 20px; display: block;}
 .hea a{width: 18px; height: 18px;}
#sear{width: 24px; height: 20px; padding-top: 0; padding-right: 10px; }
#sear2{width: 24px; height: 20px; padding-top: 0; padding-right: 10px; }
#ht{width: 18px; height: 18px; padding-top: -10px; padding-left: 10px;}
.log{position: absolute; top:40px; left: 0; right: 0; margin: auto; width: 168px; height: 45px;}

/*대메뉴*/

nav.one { text-align: center;  margin:auto; position: fixed; top:99px; left: 0; right: 0; float: left;
}
#gnb{margin:auto; width: 100%;  background: #000 ;  position: absolute; top: 0; right: 0; left: 0;}
.gnb { top:0; left: 0; right: 0; margin:auto; width:840px; overflow: hidden; z-index: 999; position: relative; background: #000;  
}
.gnb a{color: #fff; font-weight: 400; font-size: 13px; letter-spacing: 1px;} 

.gnb > li {  width:120px; height: 30px; float: left; line-height: 30px; font-size: 14px; text-transform: uppercase; }
.gnb > li:hover{  width:120px; height: 30px; float: left; line-height: 30px; font-size: 14px; text-transform: uppercase; text-decoration: underline;}

/*서브메뉴*/
.subALL{width:1200px;height: 370px; margin:0 auto; overflow: hidden; display: none;
	  position: relative; top:31px; z-index:9999; background: #fff; box-shadow: -5px -5px 6px -3px #a1a4a5 inset; }
.snb{ width:150px; float: left; margin-left: 30px; 
	 margin-top: 20px; }

.snb > li { font-size: 11px; line-height: 1.4; width: 190px; text-align: left; font-weight: normal;}
.snb > li:hover { font-size: 11px; line-height: 1.4; width: 190px; text-align: left; color:#555; cursor: pointer;}
.snb > li.f{font-weight: 600; font-size: 13px; padding-bottom: 10px; }
.snb > li.f:hover{text-decoration:underline; color:#000;}
.left{width: 760px;  height: 300px; float: left;}

#t{float: left; width: 180px; }
.ta{width: 120px; float: left; }
.deco{width: 160px;  float: left; }
.off{width: 190px;  float: left; }
.gou{float: left; clear: both; width: 150px;  padding-top: 30px;}
.book{float: left;  width: 190px;  padding-top: 30px;}
.sm1{width:350px;}
.sm1 li{float: left; margin-top: 10px; font-weight: 400; font-size: 11px; text-align: left; }
.sm1 li:hover{float: left; margin-top: 10px; font-weight: 400; font-size: 11px; cursor: pointer; text-decoration: underline;
text-decoration-color: #999;}
.last{width:350px;}
.sm1 li:last-child{margin-left: 20px;} 
.sm1 li span{font-weight: 500;padding-bottom: 3px; color:#777;}
.sm1 h4{font-size: 11px;}
.right{float: left; width: 400px; margin-left: 35px; }

#acc2{position: absolute; top:10px; right: 50px; }
 #acc2 li{float: left; font-size: 12px; font-weight: 400; }
 #acc2 li.sear{width: 24px; height: 20px; margin-right: 10px;}
 #acc2 li.mya{width: 90px; height: 20px;}
 #acc2 li.hea{width: 18px; height: 18px; margin-left: -15px;}
 #acc2 a{display: block; margin-right: 10px; font-size: 12px; color:#fff;}
 .mya a{width: 80px; height: 20px;}
 .sear a{width: 24px; height: 20px;}
 .ht a{width: 18px; height: 18px;}
 .searc{width: 24px; height: 20px; padding-top: 0; padding-right: 10px; }
.het{width: 18px; height: 18px; padding-top: -10px; padding-left: 10px;}

#gnb2{margin:auto; width: 100%;  background: #000 ;  position: absolute; top: 0; right: 0; left: 0; height: 40px;}
.gnb2 { top:5px; left: 0; right: 0; margin:auto; width:840px; overflow: hidden; z-index: 999; position: relative; background: #000;  
}
.gnb2 a{color: #fff; font-weight: 400; font-size: 13px; letter-spacing: 1px;} 
#sale{color:red; }
#salee{color: red;}
.gnb2 > li {  width:120px; height: 30px; float: left; line-height: 30px; font-size: 14px; text-transform: uppercase; }
.gnb2 > li:hover{  width:120px; height: 30px; float: left; line-height: 30px; font-size: 14px; text-transform: uppercase; text-decoration: underline;}


/*대메뉴*/

nav.two { text-align: center;  margin:auto; position: fixed; top:0; left: 0; right: 0; float: left;
display: none; }

.log1{width: 138px; height: 16px; position: absolute; top: 13px; left: 35px; }
.log11{width: 138px; height:16px; position: absolute; top: 10px; left: 182px;  }


.subALL2{width:1200px; height: 370px; margin:0 auto; overflow: hidden; display: none;box-shadow: -5px -5px 6px -3px #a1a4a5 inset; 
	  position: relative; top:5px; z-index:9999; background: #fff; }