@charset "utf-8";

/*font-family: 'Oswald', sans-serif;
font-family: 'Cormorant Unicase', serif;
*/
@import url('https://fonts.googleapis.com/css?family=Cormorant+Unicase:400,500|Oswald:300,400,500');

body{font-family:'Oswald', Dotum,'돋움',Helvetica, sans-serif;
  font-size: 15px; line-height: 1.6; font-weight:300; }


a{color: #333;}
/*로고-화면안의 컨텐츠가 변하더라도 위치가 변하지 않음*/
h1 {position: fixed; top:50px; left:50px; z-index: 999;}
h1 img{width:70px;}

/*내비게이션*/
#menu { position:fixed; top:20%; left:45px;  z-index:99; }
#menu li.on a, #menu li:hover a { font-size:24px; font-weight:500; width: 5px; height: 5px; border-radius: 50%; letter-spacing: .5px; }
#menu li:nth-child(1).on a, #menu li:nth-child(1) a {font-size: 17px;  color: #d4164c; border-color:#d4164c;}
#menu li:nth-child(2).on a, #menu li:nth-child(2) a {font-size: 17px; color: #0458ea; border-color:#0418cc; }
#menu li:nth-child(3).on a, #menu li:nth-child(3) a {font-size: 17px; color: #fff; border-color: #fff;}
#menu li:nth-child(4).on a, #menu li:nth-child(4) a {font-size: 17px; color: #ffec6a; border-color: #ffec6a; }
#menu li:nth-child(5).on a, #menu li:nth-child(5) a {font-size: 17px; color:yellowgreen; border-color: #ffec6a; }


/*컨텐츠 박스*/


article{width: 50%; height: 800px; 
 background-size: cover; /*가로 세로*/ background-attachment: fixed;
	 position:relative; overflow: hidden;}
article:nth-child(1){background-image: url(images/pup.png);/* width: 501px; height: 706px;*/}
article:nth-child(2){background-image: url(images/oran.png);}
article:nth-child(3){background-image: url(images/cara.png);}
article:nth-child(4){background-image: url(images/cool.png);}
article:nth-child(5){background-image: url(images/str.png);}

/*텍스트*/

.box>h2{position: absolute; top:46%; left:510px; color:#ff6201; font-weight: 400; letter-spacing: 1px; font-size:46px; text-transform:uppercase;  line-height:1;}
.box>span{position:absolute; top:55%; left:305px; font-family:'Cormorant Unicase', serif; font-size: 14px; color:#fff;}
.box>p{ position:absolute; top:67%; left:575px; font-size: 22px; color:#ff6201; text-align: right;
 text-decoration: underline; cursor: pointer;font-weight: 400;}

.box2>h2{position: absolute; top:46%; left:510px; color:#004884; font-weight: 400; letter-spacing: 1px; font-size:46px; text-transform:uppercase;  line-height:1;}
.box2>span{position:absolute; top:55%; left:310px; font-family:'Cormorant Unicase', serif; font-size: 14px; color:#fff;}
.box2>p{ position:absolute; top:67%; left:565px; font-size: 22px; color:#004884;
text-align: right; text-decoration: underline;  cursor: pointer; font-weight: 400;}

.box3>h2{position: absolute; top:46%; left:510px; color:#9d010d; font-weight: 400; letter-spacing: 1px; font-size:46px; text-transform:uppercase;  line-height:1;}
.box3>span{position:absolute; top:55%; left:330px; font-family:'Cormorant Unicase', serif; font-size: 14px; color:#1b1b32;}
.box3>p{ position:absolute; top:68%; left:590px; font-size: 22px; color:#9d010d;
text-align: right;  cursor: pointer; text-decoration: underline; font-weight: 400;}

.box4>h2{position: absolute; top:46%; left:510px; color:#31ffb0; font-weight: 400; letter-spacing: 1px; font-size:46px; text-transform:uppercase;  line-height:1;}
.box4>span{position:absolute; top:55%; left:350px; font-family:'Cormorant Unicase', serif; font-size: 14px; color:#fff;}
.box4>p{ position:absolute; top:69%; left:620px; font-size: 22px; color:#31ffb0; 
font-weight: 400; cursor: pointer; text-align: right; text-decoration: underline;}

.box55>h2{position: absolute; top:46%; left:510px; color:#a30002; font-weight: 400; letter-spacing: 1px; font-size:46px; text-transform:uppercase;  line-height:1;}
.box55>span{position:absolute; top:55%; left:380px; font-family:'Cormorant Unicase', serif; font-size: 14px; color:#fff;}
.box55>p{ position:absolute; top:67%; left:660px; font-size: 22px; color:#a30002; font-weight: 400; cursor: pointer; text-align: right;
	text-decoration: underline;}

.wrap2{position: absolute; top:0; right: 0; width: 50%; height: 4870px; background-color: #2a2f40; overflow: hidden;}
.box5{ height: 900px; background-color: #b3cb32; }
.box5>h3{position: absolute; top:300px; right:390px;  font-weight: 300; letter-spacing: 1px;
 font-size:48px; text-transform:uppercase;  line-height:1; color: #2d2d2d;}
 .box5>p{font-size: 14px; font-family:'Cormorant Unicase', serif;color:#fff;}
.box5>p.im{position:absolute; top:380px; right:345px; }
.box5>p.lav{position:absolute; top:490px; right:358px; }
.box5>span{display: none; position:absolute; top:600px; left:630px; font-size: 22px; cursor: pointer; color:#2d2d2d; text-decoration: underline;}

.box6{ height: 1000px; background-color:#ffc341; }
.box6 img{position: absolute; top:1290px; left:250px; }
.box6>h3{position: absolute; top:1020px; left:300px; color:#2d2d2d; letter-spacing: 1px; font-size:46px; text-transform:uppercase;  line-height:1;}
.box6>p{position:absolute; top:1120px; left:300px; font-family:'Cormorant Unicase', serif; font-size: 14px; color:#2d2d2d;}
.box6>span{position:absolute; top:1250px; left:300px; font-size: 22px; color:#d01200;cursor: pointer; text-decoration: underline;}

.box7{height: 870px; background-color:#f5f5f5;}
.box7>h3{position: absolute; top:2000px; left:300px; color:#2d2d2d; letter-spacing: 1px; font-size:46px; text-transform:uppercase;  line-height:1;}
.box7>p{position:absolute; top:2100px; left:300px; font-family:'Cormorant Unicase', serif; font-size: 14px; color:#2d2d2d;}
.box7>span{position:absolute; top:2630px; left: 300px; font-size: 22px; color:#d01200;cursor: pointer;  text-decoration: underline;}
#b1{width: 262px; height: 375px; background:url(images/straw.jpg) no-repeat #fff; 
position: absolute; top:2190px; left:300px; z-index: 9;}
#b1:hover{transition: .1s; top:2180px;  box-shadow: 2px 3px 6px 2px #999;}
#b1 img{position: absolute; top:0; left: 0;  cursor: pointer;}
#b1 h4{font-size: 20px; position: absolute; top:255px; left: 45px; font-weight: 400; }
#b1 p{letter-spacing:.3px;}
#b1 p:nth-of-type(1){font-size: 13px; position: absolute; top:295px; left: 100px; }
#b1 p:nth-of-type(2){font-size: 13px; position: absolute; top:320px; left: 97px; }
#b1 p:nth-of-type(3){font-size: 13px; position: absolute; top:345px; left: 70px; }
#b1 p:nth-of-type(4){font-size: 13px; position: absolute; top:345px; left: 170px; }
#b1 span{border-radius: 50%; width: 7px; height: 7px; background: orangered;
 position: absolute; top:8px; left: -13px;}

#b2{width: 262px; height: 375px;background:url(images/cham.jpg) no-repeat #fff; 
position: absolute; top:2190px; left:575px;}
#b2:hover{transition: .1s; top:2180px;  box-shadow: 2px 3px 6px 2px #999 ;}
#b2 img{position: absolute; top:0; left: 0;  cursor: pointer;}
#b2 p{letter-spacing:.3px;}
#b2 h4{font-size: 20px; position: absolute; top:255px; left: 70px; font-weight: 400; }
#b2 p:nth-of-type(1){font-size: 13px; position: absolute; top:295px; left: 100px; }
#b2 p:nth-of-type(2){font-size: 13px; position: absolute; top:320px; left: 85px; }
#b2 p:nth-of-type(3){font-size: 13px; position: absolute; top:345px; left: 100px; }
#b2 span{border-radius: 50%; width: 7px; height: 7px; background: orangered;
 position: absolute; top:8px; left: -13px;}

#b3{width: 262px; height: 375px;background:url(images/is.jpg) no-repeat #fff; 
position: absolute; top:2190px; left:850px;}
#b3:hover{transition: .1s; top:2180px;  box-shadow: 2px 3px 6px 2px #999 ;}
#b3 img{position: absolute; top:0; left: 0; cursor: pointer;}
#b3 p{letter-spacing:.3px;}
#b3 h4{font-size: 20px; position: absolute; top:255px; left: 98px; font-weight: 400; }
#b3 p:nth-of-type(1){font-size: 13px; position: absolute; top:295px; left: 100px; }
#b3 p:nth-of-type(2){font-size: 13px; position: absolute; top:320px; left: 120px; }
#b3 span{border-radius: 50%; width: 7px; height: 7px; background: orangered;
 position: absolute; top:8px; left: -13px;}
.boxx{cursor: pointer; position: fixed; z-index:999; top:-100%; left: 0;  width: 80%; height: 100%; background: green;}
#boxx1{width: 25%; height: 50%; background-color: #f7921e; float: left; }
#boxx1 img{width: 70%; height: 70%; float: left; margin-left: 50px; margin-top: 60px;}
#boxx1 img:hover{transform: scale(1.1); transition: .3s; }
#boxx2 img{width: 70%; height: 70%; float: left; margin-left: 50px; margin-top: 60px;}
#boxx2 img:hover{transform: scale(1.1); transition: .3s;}
#boxx3 img{width: 70%; height: 70%; float: left; margin-left: 50px; margin-top: 60px;}
#boxx3 img:hover{transform: scale(1.1); transition: .3s;}
#boxx4 img{width: 70%; height: 70%; float: left; margin-left: 50px; margin-top: 60px;}
#boxx4 img:hover{transform: scale(1.1); transition: .3s;}
#boxx5 img{width: 70%; height: 70%; float: left; margin-left: 50px; margin-top: 60px;}
#boxx5 img:hover{transform: scale(1.1); transition: .3s;}
#boxx6 img{width: 70%; height: 70%; float: left; margin-left: 50px; margin-top: 60px;}
#boxx6 img:hover{transform: scale(1.1); transition: .3s;}
#boxx7 img{width: 70%; height: 70%; float: left; margin-left: 50px; margin-top: 60px;}
#boxx7 img:hover{transform: scale(1.1); transition: .3s;}
#boxx8 img{width: 70%; height: 70%; float: left; margin-left: 50px; margin-top: 60px;}
#boxx8 img:hover{transform: scale(1.1); transition: .3s;}
#boxx2{width: 25%; height: 50%; background-color: #cbe71f;float: left;}
#boxx3{width: 25%; height: 50%; background-color: #9f9bac; float: left;}
#boxx4{width: 25%; height: 50%; background-color: #ee3f32; float: left;}
#boxx5{width: 25%; height: 50%; background-color: #e6007e; float: left;}
#boxx6{width: 25%; height: 50%; background-color: #233e99; float: left;}
#boxx7{width: 25%; height: 50%; background-color: #f7ea00; float: left;}
#boxx8{width: 25%; height: 50%; background-color: #5dbe23; float: left;}
#cir{position: fixed;z-index:999;  top:-110px; left: 0; right: 0; 
	margin:auto; border-radius: 50%; width: 190px; height: 190px; background:#1b1b1b;
 cursor: pointer;}
#cir p{padding-top:75px; text-align: center; font-size: 20px; color:#fff; text-transform: uppercase;
  font-weight: 400;}
#cir .ex{font-size: 20px; padding-top:20px; }
#cir2{position: fixed; z-index:999;  top:92%; left: 0; right: 0; cursor: pointer;
	margin:auto; border-radius: 50%; width: 190px; height: 190px; background:#1b1b1b;
 }
#cir2 p{line-height: 90px; text-align: center; font-size: 20px; color:#fff; text-transform: uppercase;
  font-weight: 400;}
#coc {
position: absolute;
top:100px; left: 300px;
width: 592px;
}

.element {
	position:absolute;
}
.element#ice {
	top:630px;
	left:230px;
	width: 108px;
	height: 54px;

}
.element#peel {
	top : 630px;
	left:430px;
	width: 107px;
	height: 48px;

}

